Django==4.2.22
djangorestframework==3.15.2
django-filter==24.3
django-cors-headers==4.4.0
selenium==4.23.1
pytest==8.2.2
webdriver-manager==4.0.1
pytest-bdd==8.1.0
selenium==4.18.0
behave==1.2.6
requests==2.31.0
